---
name: CI

# yamllint disable-line rule:truthy
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*


jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: yamllint
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c  # v3.1.1
        with:
          strict: true
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust:
          - stable
          - beta
          - nightly
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9  # master
        with:
          components: clippy, rustfmt
          toolchain: ${{ matrix.rust }}

      - name: Cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Install cargo-hack
        uses: taiki-e/install-action@542cebaaed782771e619bd5609d97659d109c492  # v2
        with:
          tool: cargo-hack

      - name: cargo fmt
        run: cargo fmt --all -- --check

      - name: cargo check (feature powerset)
        run: cargo hack check --feature-powerset --no-dev-deps --optional-deps --workspace

      - name: cargo build
        run: cargo build --workspace --all-features

      - name: cargo clippy
        run: cargo clippy --all-features --all-targets --workspace -- -D warnings
        if: ${{ matrix.rust == 'stable' }}

      - name: cargo test
        run: cargo test --all-features --workspace

      - name: cargo doc
        run: cargo doc --document-private-items --no-deps --all-features --workspace

      - name: cargo bench
        run: cargo bench --profile=dev --all-features --workspace -- --test
